.app {
  position: relative;
}

.map{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1 !important;
}

.stream {
  max-width:350px;
  max-height: 350px;
  position: fixed;
  margin: 25px;
  bottom: 0;
}

.statusbar {
  width: 95vw;
  height: 40px;
  position: fixed;
  margin: 10px;
  top: 0;
}

.mapbar {
  width: 68vw;
  height: 75px;
  position: fixed;
  margin: 25px;
  left:375px;
  bottom: 0;
  background-color: white;
}